# your .env file should include these keys and values.  use real credential, not dummy values!
POSTGRES_DB=your_text_here
POSTGRES_USER=your_text_here
POSTGRES_PASSWORD=your_text_here
DEBUG=true_or_false_here
SECRET_KEY=your_secret_key_here
ALLOWED_HOSTS=your_domain1, your_domain2 