{% extends "base.html" %}

{% block title %}
    <title>Lost Voices &mdash; Reconstructions</title>
{% endblock %}

{% block header %}
{% endblock %}

{% block wrap %}
    <div class="row-fluid">
        <div class="span12">
            <div class="show-heading row-fluid">
                <hgroup class="show-title page-title span8">
                    <h1>Reconstructions</h1>
                </hgroup>

                <table id="reconstructions" class="table table-striped table-bordered table-hover">
                    <thead>
                    <tr>
                        <th>Piece ID</th>
                        <th>Title</th>
                        <th>Reconstructor</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for recon in content.results %}
                        <tr>
                            <td><a href="{{ recon.piece.url }}">{{ recon.piece.piece_id }}</a></td>
                            <td>{{ recon.piece.title }}</td>
                            <td><a href="{{ recon.reconstructor.url }}">{{ recon.reconstructor.full_name }}</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% include "paginate.html" with content=content %}
            </div>
        </div>
    </div>
{% endblock %}