{# There doesn't seem to be any sane way of controlling the slice in the template, so this partial isn't very DRY. #}
<div id="discussion-block">
    {% if condensed_view %}
        {% for comment in content.comments|slice:":5" %}
            <div class="comment">
                <div class="author">
                    <h5>
                        <a href="{{ comment.author.profile }}">{{ comment.author.display_name }}</a>
                        ({{ comment.created }})
                    </h5>
                </div>
                <div class="text">
                    <p>{{ comment.text }}</p>
                </div>
            </div>
        {% empty %}
            <p id='empty-block'>No recent comments.</p>
        {% endfor %}
    {% else %}
        {% for comment in content.comments %}
            <div class="comment {% cycle "" "discussion-stripe" %} discussion-sizes">
                <div class="author">
                    <h5>
                        <a href="{{ comment.author.profile }}">{{ comment.author.display_name }}</a>
                        ({{ comment.created }})
                    </h5>
                </div>
                <div class="text">
                    <p>{{ comment.text }}</p>
                </div>
            </div>
        {% empty %}
            <p id='empty-block'>No recent comments.</p>
        {% endfor %}
    {% endif %}


    {% if condensed_view %}
    <div>
        <p><a href="{{ content.url }}discussion/">View the full discussion.</a></p>
    </div>
    {% endif %}
</div>
